/* here you can put your own css to customize and override the theme */

.map_canvas { 
  width: 600px; 
  height: 400px; 
  /* margin: 10px 20px 10px 0; */
  display: block;
}

.portlet.light {
    padding: 10px 10px 5px !important;
    background-color: #fff;
}
