@font-face
{
    font-family: 'Lato-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('./lato/Lato-Regular.ttf');

}
@font-face
{
    font-family: 'Lato-BLack';
    font-weight: normal;
    font-style: normal;
    src: url('./lato/Lato-Black.ttf');

}
@font-face
{
    font-family: 'Lato-Light';
    font-weight: normal;
    font-style: normal;
    src: url('./lato/Lato-Light.ttf');

}
@font-face
{
    font-family: 'Lato-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('./lato/Lato-Bold.ttf');

}

@font-face
{
    font-family: 'Bison-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('./bison/Bison-Bold.ttf');
}
@font-face
{
    font-family: 'Ubuntu-L';
    font-weight: normal;
    font-style: normal;
    src: url('./ubuntu/Ubuntu-L.ttf');
}
@font-face
{
    font-family: 'Ubuntu-B';
    font-weight: medium;
    font-style: normal;
    src: url('./ubuntu/Ubuntu-B.ttf');
}


/* Cubic Bezier Transition */
/***
Login page
***/
/* logo page */
.login {
  /*background-color: #a0b4c9 !important; */
  /* background-color: #999999 ; */
  background-image: url('../img/login/login-bg.png')!important;
  background-position: center;
  background-size: 100%;
  opacity:0.8;
}
.overlay {
    /* background-image:url(../images/site/featured.png); */
    opacity:0.8 !important;
   background-repeat:none;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;color:#ffffff;

}

.login .logo {
  margin: 0 auto 20px auto;
  padding: 15px;
  text-align: center; }

  .login .logo2 {
    margin: 64px auto 20px auto;
    padding: 15px;
    text-align: center; }
.login .content {
  /* background-color: #fff; */
  width: 560px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px; }

.login .content h1 {
  color: #fff;
  font-family:'Lato-Black'
}

.login .content h4 {
  color: #fff;
  font-family:'Lato-Bold';
  line-height: 1.2px;
}

.login .content p {
  color: #fff;
  font-family:'Lato-Bold';
  font-size:18px;
}

.login .content a{
  color:#ffd52d;
}
.login .content a:hover,.login.content a:focus{

  color:#ffd52d;
}

.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px; }

.login .content .input-icon {
  border-left: 2px solid #44B6AE !important; }

.login .content .input-icon {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .login .content .input-icon .form-control {
    border-left: 0; }

.login .content .forget-form {
  display: none; }

.login .content .register-form {
  display: none; }

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px; }

.login .content .form-actions {
  /* background-color: #fff; */
  clear: both;
  border: 0px;
  /* border-bottom: 1px solid #eee; */
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px; }

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px; }

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px; }

.login .content .form-actions .rememberme {
  margin-top: 8px;
  display: inline-block; }

.login .content .form-actions .btn {
  margin-top: 1px; }

.login .content .forget-password {
  margin-top: 15px; }

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px; }

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px; }

/* select2 dropdowns */
.login .content .select2-container {
  border-left: 2px solid #44B6AE !important; }

.login .content .select2-container .select2-choice {
  border-left: none !important; }

.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top: 1px;
  margin: 4px 4px 0px -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center; }

.login .content .has-error .select2-container i {
  color: #b94a48; }

.login .content .select2-container a span {
  font-size: 13px; }

.login .content .select2-container a span img {
  margin-left: 4px; }

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #999;
  font-size: 13px; }

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
  /* margin-top: 10px; */} 
  .login .content {
    width: 280px; }
  .login .content h3 {
    font-size: 22px; }
  .login .checkbox {
    font-size: 13px; } }


    .blue-button{
      border-color:#045061;
      background: #045061;
      color:#ffffff;
      font-family:'Lato-Bold';
    }
    .blue-button:hover{
      border-color:#045061;
      background: #045061;
      color:#ffffff !important;
      font-family:'Lato-Bold';
    }
    .brown-buttton{
      border-color:#84754e;
      background: #84754e;
      color:#ffffff;
      font-family:'Lato-Bold';

    }
    .brown-buttton:hover{
      border-color:#84754e;
      background: #84754e;
      color:#ffffff !important;
      font-family:'Lato-Bold';

    }
    .yellow-button{
      border-color:#ffd52d;
      background: #ffd52d;
      color:#045061;
      font-family:'Lato-Bold';

    }

    .yellow-button:hover{
      border-color:#ffd52d;
      background: #ffd52d;
      color:#045061 !important;
      font-family:'Lato-Bold';

    }
