/* here you can put your own css to customize and override the theme */

@font-face
{
    font-family: 'Lato-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('./lato/Lato-Regular.ttf');

}
@font-face
{
    font-family: 'Lato-BLack';
    font-weight: normal;
    font-style: normal;
    src: url('./lato/Lato-Black.ttf');

}
@font-face
{
    font-family: 'Lato-Light';
    font-weight: normal;
    font-style: normal;
    src: url('./lato/Lato-Light.ttf');

}
@font-face
{
    font-family: 'Lato-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('./lato/Lato-Bold.ttf');

}

@font-face
{
    font-family: 'Bison-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('./bison/Bison-Bold.ttf');
}
@font-face
{
    font-family: 'Ubuntu-L';
    font-weight: normal;
    font-style: normal;
    src: url('./ubuntu/Ubuntu-L.ttf');
}
@font-face
{
    font-family: 'Ubuntu-B';
    font-weight: medium;
    font-style: normal;
    src: url('./ubuntu/Ubuntu-B.ttf');
}
ul.tagit input[type="text"]{
    width: 300px !important;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.container {
     padding-right: 5px;
     padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

.input-circle {
    border-radius: 25px!important;
}

.input-circle-left {
    border-radius-left: 25px!important;
}

.validate_form input, .validate_form button {
	border : 1px white solid;
}

.validate_form input {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    /*height: 34px;*/
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white !important;
    border-radius: 18px 0px 0px 18px !important;
    height: 45px;
    background: transparent !important;

}

.validate_form button {
	background: #9F906E;
    border-radius: 0px 15px 15px 0px !important;
    height: 45px;
    color: white !important;
}

.validate_form input::placeholder {
    color: white;
}
.validate_form input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
.validate_form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity:  1;
}
.validate_form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity:  1;
}
.validate_form input::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
.validate_form input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

body, html {
	font-family: "Lato-Regular" !important;
}

.title-wrapper {
    margin: -23px 0 23px;
    position: relative;
    overflow: hidden;
    background: linear-gradient( rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.45) ), url(img/bg-sponsors.jpg) no-repeat 100% 100%;
    min-height: 280px;
    padding-top: 79px;
    width: 100%;
    overflow: hidden;
}

.type2 {
    background-color: #9F906E !important;
    background: #9F906E !important;
}

.type3 {
    background-color: white !important;
    background: white !important;
}

.title-wrapper h1 {
    /* font-size: 45px;
    padding: 0 9px 13px;
    border-bottom: solid 1px rgba(255,255,255,0.6);
    margin: 0 -9px 17px;*/

}

.title-wrapper h1 {
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important; */
	font-family: 'Libre Baskerville', serif;
    color: #fff;
    font-weight: 700;
}

.title-wrapper em {
	/* font-family: "helvetica-neue";
	direction: ltr;	 */
    font-family: "Helvetica neue",Helvetica,Arial,sans-serif !important;direction: ltr;
    color: #fff;
    font-weight: 400;
}

.program ul {
    list-style: none;
}

.program  {
    margin-bottom: 20px;
}

.details, .details p {
	font-family: "Lato-Regular",!important;direction: ltr;
    color: #84754e;
}

.container-inner {
	float: none !important;
}

.btn-prev {
    left: -25px;
}

.btn-next {
    right: -25px;
}

.btn-next , .btn-prev {
	line-height: 0;
    position: absolute;
    top: 50%;
	margin-top: -10px;
    padding: 0;
    cursor: pointer;
}

#desc p {
    font-size: 18px;
    color:#999999;
}

#desc h1 {
    font-size: 24px;
    border-bottom: 1px solid #eee;
    color:#999999;
    padding-bottom: 30px;
    margin-bottom: 30px;
    width: 450px;
}

.transparent_div {
    /*opacity: 0.5;*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/
    /*filter: alpha(opacity=50); !* For IE8 and earlier *!*/
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=58)";
    /* IE 5-7 */
    filter: alpha(opacity=58);
    /* Netscape */
    -moz-opacity: 0.58;
    /* Safari 1.x */
    -khtml-opacity: 0.58;
    /* Good browsers */
    opacity: 0.58;
}

#title-meta-1 h1 {
    color: #423931;
    font-size: 27px;
    font-weight: 600;
}


.circle {
    position: relative;
    display: block;
    margin: 2em 0;
    background-color: transparent;
    color: #ddd;
    text-align: center;

}

.circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    border: 2px solid #ddd;
    /*background-color: #ddd;*/
    content: "";
}

.circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*width: 150px;*/
}

.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

.fa-6 {
    /*font-size: 12em !important;*/
    font-size: 2em !important;
}

.nav li a  {
    display:flex;justify-content:center;align-items:center;
}
.nav li a i {
    /*align-self: center;*/
    /*-webkit-box-align: center;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*margin: 0 auto;*/
    /*display:table-cell;*/
    /*vertical-align:middle;*/
}

@media (min-width: 480px) {
    .circle__content {
        font-size: .5em;
    }
}

@media (min-width: 768px) {
    .circle__content {
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 90%;
    }
}

.my-invoice td {
    font-size: 18px;
}

.my-invoice thead .table-header {
    padding: 3px; color: #045061;
    border-bottom: 2px solid #045061;
}

.my-invoice thead .table-header td, .my-invoice thead .table-header th {
    padding: 10px;
    font-size: 19px;
    color:#045061;
    font-family:'Bison-Bold';
    font-size:25px;
}

.my-invoice tbody td, .my-invoice tbody th {
    padding: 10px;
    font-size: 19px;
}

/*!* bootstrap hack: fix content width inside hidden tabs *!*/
/*.tab-content > .tab-pane, .pill-content > .pill-pane {*/
    /*display: block;    !* undo display:none          *!*/
    /*height: 0;         !* height:0 is also invisible *!*/
    /*overflow: hidden;  !* no-overflow                *!*/
/*}*/
/*.tab-content > .active, .pill-content > .active {*/
    /*height: auto;      !* let the content decide it  *!*/
/*} !* bootstrap hack end *!*/

.wizard-card .picture {
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.delagate-profile .headings {
    font-size: 35px;
    color: #045061;
    font-family: 'Bison-Bold'!important;
}

.delagate-profile .headings-small {
    font-size: 25px;
    color: #045061;
    font-family: 'Bison-Bold'!important;
}

#flight .nav-tabs>li>label
{
    display: inline-block;
    padding: 1em;
    margin: 0;
    /*border: 1px solid transparent;*/
    cursor: pointer;
}
#flight .nav-tabs>li.active>label
{
    cursor: default;
    /*border-color: #ddd;*/
    /*border-bottom-color: white;*/
}

#otherdetails .nav-tabs>li>a
{
    display: inline-block;
    padding: 1em;
    margin: 0;
    border: 1px solid transparent !important;
    cursor: pointer;
}
#otherdetails .nav-tabs>li.active>a
{
    cursor: default;
    border-color: #ddd !important;
    border-bottom-color: white !important;
}

#desc h1 {
	font-family: 'Perpetua Titling MT' !important;
	font-weight: bold !important;
	font-style: normal !important;
}
