@import url('impact-perpetua/stylesheet.css');
@import url('helvetica/stylesheet.css');

.impact-normal {
    font-family: 'Impact' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.perpetua-mt-bold-normal {
    font-family: 'Perpetua MT' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

.perpetua-mt-normal {
    font-family: 'Perpetua MT' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.perpetua-bold-normal {
    font-family: 'Perpetua' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

.perpetua {
    font-family: 'Perpetua' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.perpetua-std {
    font-family: 'Perpetua Std' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

/*Helvetica Bold Oblique*/
.helvetica-bold-oblique {
    font-family: 'Helvetica' !important;
    font-weight: bold !important;
    font-style: italic !important;
}

/*//Helvetica Oblique*/
.helvetica-oblique {
    font-family: 'Helvetica' !important;
    font-weight: normal !important;
    font-style: italic !important;
}

/*Helvetica Light Oblique*/
.helvetica-light-oblique {
    font-family: 'Helvetica' !important;
    font-weight: 300 !important;
    font-style: normal !important;
}

/*Helvetica Light*/
.helvetica-light {
    font-family: 'Helvetica' !important;
    font-weight: 300 !important;
    font-style: normal !important;
}

/*Helvetica*/
.helvetica {
    font-family: 'Helvetica' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

/*Helvetica Bold*/
.helvetica-bold {
    font-family: 'Helvetica' !important;
    font-weight: bold !important;
    font-style: normal !important;
}